**/node_modules
**/dist
**/.cache
**/.local
**/.git
**/.replit*
**/.vscode
**/.idea
**/.expo
**/.expo-shared
**/build-apk
**/android
**/ios
**/*.tsbuildinfo
**/coverage
**/tmp
**/out-tsc
**/.DS_Store
**/Thumbs.db
attached_assets/screenshots
**/*.log
.env
docker-compose.yml
